@use "styles/variables" as var;

.contain_input {
    $error-color: #f41818;
    position: relative;
    isolation: isolate;
    width: 100%;
    border-radius: 0.6rem;
    .error {
        color: $error-color;
        margin: 0;
        margin-top: 0.4rem;
        font-size: 1.4rem;
    }
    input,
    textarea {
        background-color: transparent;
        color: #ffffff;
        width: 100%;
        padding: 2.8rem 1.2rem 1rem;
        border: 2px solid #575656;
        outline: none;
        border-radius: 0.6rem;
        transition: border 300ms ease;
        &:focus-within {
            border: 2px solid var.$primary-dark;
            box-shadow: rgba(98, 98, 99, 0.25) 0px 10px 26px 0px, rgba(124, 120, 120, 0.3) 0px 0px 0px 1px, 0 0 10px #006a7b;
        }
        &.error_border {
            border: 2px solid $error-color;
        }
    }
    textarea {
        resize: none;
        height: 13rem;
        scrollbar-width: thin;
        scrollbar-color: var.$primary-dark var.$dark-color;
        &::-webkit-scrollbar-track {
            background-color: var.$dark-color;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var.$primary-dark;
        }
    }
    label {
        color: var.$faded;
        position: absolute;
        transition: transform 150ms ease;
        transform-origin: 0;
        transform: translateY(-0.85rem);
        font-size: 1.4rem;
        top: 1.8rem;
        left: 1.2rem;
    }
    textarea:placeholder-shown + label,
    input:placeholder-shown + label {
        transform: scale(110%) translateY(0);
    }
    textarea:focus + label,
    input:focus + label {
        transform: scale(95%) translateY(-1rem);
    }
}
