$dark-color: #191919;
$primary-color: #000000;
$primary-dark: #006a7b;
$primary-light: #67d1e9;
$dark-blue: #00404e;
$slate: #949595;
$faded: #bebebe;
$shape-gradient: linear-gradient($primary-light 10%, $primary-dark 50%, $dark-blue 100%);
$circle-gradient: linear-gradient(#0097d1 0%, #00a2b3 10%, #00536c 50%, #004040 100%);
$button-hover-gradient: $circle-gradient;
$header-height: 6rem;
$rest-height: calc(95vh - 6rem);
// alert colors
$success: #6ee36e;
$error: #f41b1b;
$warning: #ffad16;
// z-index char
$alert-z: 100;
$header-z: 99;
