@use "styles/variables" as var;
@use "styles/mixins" as mixin;

.spinner {
    @include mixin.flexBox;
    & > div {
        $dimension: 2rem;
        width: $dimension;
        height: $dimension;
        border: 3px solid #ffffff;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

.loading {
    min-height: 100vh;
    padding: 1rem;
    @include mixin.flexBox;
    &.cancelHeaderHeight {
        min-height: var.$rest-height;
    }
    & > h1 {
        font-size: 6rem;
        text-shadow: 1px 0px 10px var.$primary-dark;
        animation: loading 1s ease-in-out infinite alternate-reverse;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes loading {
    from {
        font-size: 6rem;
        opacity: 1;
    }
    from {
        font-size: 4.5rem;
        opacity: 0.35;
    }
}
