@use "styles/variables" as var;
@use "styles/mixins" as mixin;
@use "styles/breakpoints" as *;

.projects {
    padding: 1rem 0 5rem;
    & > h1 {
        margin: 1rem 0 4rem;
    }
    & > .project_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
        & > a > .project_card {
            position: relative;
            isolation: isolate;
            transition: box-shadow 400ms ease-in-out;
            &:hover {
                box-shadow: 0 0 20px var.$primary-dark;
            }
            & > .image_card {
                overflow: hidden;
                & > img {
                    object-fit: cover;
                }
                &:hover > img {
                    transition: transform 400ms ease-in-out;
                    transform: scale(1.05);
                }
            }
            & > .data_card {
                @include mixin.flexBox(space-between);
                padding: 0 1rem;
                background-color: rgba($color: #000000, $alpha: 0.6);
                position: absolute;
                inset: 0;
                top: auto;
                z-index: 1;
                p {
                    margin: 1.5rem 0;
                    font-weight: 600;
                    font-size: 1.8rem;
                    @include breakpoints(mobile-xl) {
                        margin: 0.75rem 0;
                        font-size: 1.4rem;
                    }
                }
                .github_icon {
                    color: var.$primary-light;
                    $dimension: 2.5rem;
                    width: $dimension;
                    height: $dimension;
                    @include breakpoints(mobile-xl) {
                        $dimension: 2rem;
                        width: $dimension;
                        height: $dimension;
                    }
                }
            }
        }
        @include breakpoints(projects-page) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @include breakpoints(mobile-xl) {
        & > h1 {
            font-size: 3.2rem;
        }
    }
}
